
body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

#local-video-container {
    display: none;
}

.msg-display {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
    width: 240px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 20px;
}
.msg-display:empty {
    display: none;
}

#msg {
    top: 10px;
}

#prompt {
    display: none;
    bottom: 10px;
}
.live #prompt {
    display: block;
}

.loading #start-btn, .live #start-btn {
    display: none;
}

#avatar-video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#start-btn {
    position: absolute;
    margin: 20px;
    font-size: 20px;
}

#end-btn {
    display: none;
    position: absolute;
    margin: 20px;
    font-size: 20px;
}
.live #end-btn {
    display: block;
}


#transcript, #local-transcript {
    background-color: rgba(255,255,255,0.7);
    color: #333333;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px 4px
}

#local-transcript {
    bottom: 60px;
}

#transcript:empty, #local-transcript:empty {
    display: none;
}
